
  <div class="top-bar" id="site-nav">
    <nav>
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
        <li>
          <a href="#">Item 1</a>
          <ul class="submenu menu vertical">
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 1B</a></li>
            <li><a href="#">Item 1C</a>
              <ul class="submenu menu vertical">
                <li><a href="#">Item 2C</a></li>
                <li><a href="#">Item 2C</a></li>
                <li><a href="#">Item 2C</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="current"><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
      </ul>
    </nav>
  </div>