$radius: 0px;

.navbar {
	min-height: 6.5rem;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}
.container {
	width: 100%;
}

div.navbar_header > a.navbar_brand {
	color: white;
	font-weight: 400;	
	margin-top: 2%;
	margin-left: 2rem;
	border-left: 1px solid white
}

.navbar_brand {
	padding-left: 20px;
}

.top-bar, .top-bar ul {
	background: #96c9ff!important;
	padding: 0px!important;
}

.opportunity, div.navbar_content.navbar_content_primary > ul, 
div.navbar_content.navbar_content_secondary > ul, 
div.item.lap_five_columns.desk_four_columns > ul > li {
	list-style-type: none;
}
body > nav > div > div.navbar_content_wrapper > div.navbar_content.navbar_content_secondary > a {
	margin: 0.85em 1em;
}

.search_result_count {
	background: none;
}

.navbar_badge {
	background: #f99300;
}

.page_header.page_header_action {
	border-bottom: 10px solid #2176d2;
	margin-bottom: 1.12286rem;
	padding-bottom: 0px;
}

.page_header.page_header_action h2 {
	margin-bottom: 0px;
}

.page_header_action_button {
	background: none;
}

.button.primary.icon_l {
	margin-bottom: 25px;
}

.button.secondary {
	background-color: #58c04d!important;
}

div.page_header.page_header_action > div > a > i {
	color: white;
}

.button i.fa {
	color: white;
}

div.navbar_content.navbar_content_primary > ul > li > a {
	//border-radius: 0;
}

table {
	word-break: inherit;
}

table > thead > tr > th > a:link {
	color: white;
}

th:last-child, td:first-child {
	padding: 0.75rem;
}

th:last-child, td:last-child {
	padding: 0.75rem;
}

body > nav > div > div > a > img {
	max-width: 14%;
	float: left;
}

.pagination ul li a, .pagination ul li:last-child span, .pagination ul li:first-child span {
  width: auto;
}

.opportunities_table_item tr:first-child td {
    padding-bottom: 0.75rem;
}

.info_disclaimer_text {
	color: #426ca6;
	font-size: 13.25px;
}

.submission_instructions {
	font-size: 1rem;
}

.microcopy {
	max-width: inherit;
}

.logo img {
	width: 160px;
	height: 42px;
}